body{
    font-family: 'Work Sans', sans-serif;
    background-color: #F2F2F2;
}
.header-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;;
}
.logo-img{
    width: 40px;
    height: 40px;
}
.website-name{
    color: #034f84;
    margin-top: 0;
    margin-bottom: 10px;
}
.body-content{
    display: flex;
    align-items: center;
    justify-content: right;
    height: fit-content;
    padding: 20px;
    background-image: url("../images/flight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.fill-details{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 450px;
    height: fit-content;
    border-radius: 1.875rem;
    padding: 15px;
    /* background-color:rgba(255,255,255,0.9); */
    background-color: #034f84;
}
.form-heading{
    color: #ffffff;
}
.input-data{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.input-fields{
    background-color: #ffffff;
    border-radius:1.875rem;
    padding: 15px;
    border: 1px solid #f7f7f7;
}
.input-data-fields{
    display: flex;
    gap: 20px;
}
.align-center{
    text-align: center;
    font-weight: 600;
}
.input-trip{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.input-trip-wrapper{
    display: flex;
    color: black;
    flex: 1;
}
#round-trip-box{
    display: none;
}
.flex-part{
    flex: 1;
}
.label-color{
    font-size: 14px;
    color: #ffffff;
}
.label-color2{
    font-style: 14px;
    color: black;
}
.search-btn{
    cursor: pointer;
    background-color: rgb(248, 209, 17);
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}
.search-btn:hover{
    background-color:rgba(9, 73, 249, 0.7);
}
.uppercase-convert{
    text-transform: uppercase;
}
.flight-search-results{
    display: none;
    padding-top: 20px;
    gap: 30px;
    flex-direction: column;
}
.display-input-data{
    display: flex;
    flex-direction: row;
    gap:20px;   
}
.search-bar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.input-search{
    width: 45%;
    border: 1px solid #034f84;
}
.fa-arrows-alt-h{
    align-self: center;
}
.display-fields{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: none;
    border-radius: 10px;
    background-color:  #034f84;
    flex: 1;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 10px 0px;
}
.display-fields p{
    margin: 0;
    flex: 1;
}
.data-fields{
    flex: 1;
    border: none;
    font-weight: 500;
    font-size: 16px;
    background-color:  #034f84;
    color: #ffffff;
    text-align: center;
}
.search-results-body{
    display: flex;
    gap: 20px;
}
.filters{
    background-color:#ffffff ;
    flex: 1;
    height: fit-content;
    border-radius: 4px;
}
.filter-text{
    border-bottom: 1px solid rgb(192, 192, 192, .3);
    padding-left: 20px;
    padding-right: 20px;
}
.filter-text .filter-text-element {
    flex: 1;
    font-weight: 600;
}
.summary-element{
    border-bottom: 1px solid rgb(192, 192, 192, .3);
    padding: 20px 20px 20px 20px;
}.summary-content{
    padding-top: 10px;
}
.fa-angle-down{
    cursor: pointer;
}
.label-data{
    flex: 24;
}
.fa-angle-down{
    flex: 1;
    cursor: pointer;  
}
details[open] .fa-angle-down {
    transform: rotate(180deg);
}
.d-flex{
    display: flex;
}
.flights-information{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 4;
}
.one-flight-info{
    flex-wrap: wrap;
    border-radius: 4px;
    display: flex;
    background-color: #ffffff;
}
.one-flight-info:hover {
    transform: scale(1.05);
}
.flight-data{
    flex: 1;
    text-align: center;
    align-self: center;
}
.flight-data-img{
    width: 50px;
    height:50px;
}
.flight-data-button{
    background-color: rgba(9, 73, 249, 0.7);
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

